.images-container {
    margin: 20px 0;
  }
  
  .image-section-first {
    display: block;
    margin: 15px auto;
    max-width: 40%;
    height: auto;
  }

  .image-section-second {
    display: block;
    margin: 15px auto;
    max-width: 70%;
    height: auto;
  }
  