.images-container {
    margin: 0 0;
  }
  
  .image-section-first {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding-bottom: 25px;
  }

  .image-section-second {
    display: block;
    margin: 15px auto;
    max-width: 70%;
    height: auto;
  }
  