/* ProductCard.css */

.product-card-pp {
  transition: transform 0.3s ease;
  border: groove;
}

.product-card-pp:hover {
  transform: translateY(-5px); /* Lift the card on hover */
}

.productImg-pp {
  width: 100%;
  height: 250px; /* Fixed height */
  object-fit: contain;
  border-top-left-radius: 8px; /* Rounded corners for the top left and right */
  border-top-right-radius: 8px;
  padding-top: 10px;
}

.product-details-pp {
  padding: 10px;
}

.product-details-pp h2 {
  font-size: 14px; /* Larger font size */
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: auto;
}

.product-details-pp p {
  font-size: 16px; /* Larger font size */
  margin-top: auto;
  margin-bottom: 3px;
}

.product-details-pp a {
  display: block; /* Change to block to center the button */
  background-color: inherit; /* Blue background color for the link */
  color: black; /* White text color */
  text-decoration: none;
  transition: background-color 0.3s ease; /* Smooth transition */
  text-align: left; /* Center align text */
}
